<header class="header">
  <div class="container">
    <button class="menu-btn" (click)="toggleSidebar()">
      <i class="pi pi-bars"></i>
    </button>
    <div class="logo">
      <img
        src="https://res.cloudinary.com/dqvwzivqe/image/upload/v1724870335/zfs871eovsja3ctignpf.png"
        alt="Logo Repostería"
      />
    </div>
    <div class="iconomobil">
      <div class="search">
        <i class="pi pi-search"></i>
      </div>
      <div class="cart">
        <i
          class="pi pi-shopping-cart"
          severity="warning"
          pBadge

          value="2"
        ></i>
      </div>
      <div class="profile">
        <!-- <i class="pi pi-user"   ></i> -->
        <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="contrast" (onClick)="showDialog()"/>

      </div>
    </div>

    <nav class="navigation">
      <ul>
        <li>
          <a pButton type="button" label="Inicio_" routerLink="/" [rounded]="true" [text]="true"></a>
        </li>
        <li>
          <a pButton type="button" label="Productos" routerLink="/productos" [rounded]="true" [text]="true"></a>
        </li>
        <li>
          <a pButton type="button" label="Contacto" routerLink="/contacto" [rounded]="true" [text]="true"></a>
        </li>
        <li>
          <p-button class="ntd" label="Iniciar Sesión" (onClick)="showDialog()"  [rounded]="true" [text]="true" />
          <!-- <a pButton type="button" label="Iniciar Sesión" (onClick)="showDialog()"  [rounded]="true" [text]="true"></a> -->
        </li>
      </ul>
    </nav>
  </div>

</header>
<!-- Sidebar para móviles -->
<p-sidebar [(visible)]="isSidebarVisible" position="left">
  <h3>Menú</h3>
  <ul class="mobile-menu">
    <li>
      <a pButton type="button" icon="pi pi-home" routerLink="/" [rounded]="true" [text]="true"></a>
    </li>
    <li>
      <a pButton type="button" icon="pi pi-box" routerLink="/productos" [rounded]="true" [text]="true"></a>
    </li>
    <li>
      <a pButton type="button" icon="pi pi-envelope" routerLink="/contacto" [rounded]="true" [text]="true"></a>
    </li>
    <li>
      <a pButton type="button" icon="pi pi-shopping-cart" routerLink="/carrito" [rounded]="true" [text]="true"></a>
    </li>
    <li>
      <p-button type="button"  (onClick)="showDialog()"  icon="pi pi-user" routerLink="/login" [rounded]="true" [text]="true"></p-button>
    </li>
  </ul>
</p-sidebar>
<div class="card flex justify-content-center">
  <p-dialog header="Iniciar sesión" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
    <div class="login-dialog">
      <p class="dialog-description">Ingrese sus credenciales para acceder a su cuenta.</p>

      <div class="form-group">
          <label for="username" class="form-label">Nombre de usuario o correo </label>
          <input type="text" id="username" class="form-input" placeholder="Ingrese su nombre de usuario" />
      </div>

      <div class="form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" class="form-input" placeholder="Ingrese su contraseña" />
      </div>

      <div class="dialog-footer">
          <p-button   [rounded]="true" [text]="true" onclick="closeDialog()">Cancelar</p-button>
          <p-button  [rounded]="true" [text]="true" onclick="handleLogin()">Iniciar sesión</p-button>
      </div>
  </div>
  </p-dialog>
</div>
