

.login-dialog {
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    .company-logo {
      margin-top: 20px;
      object-fit: contain;
      width: 120px;
      height: auto;
      border-radius: 70%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }

  .dialog-description {
    font-size: 1.1rem;
    color: #d63384;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 500;
  }

  .form-group {
    margin-bottom: 1.5rem;

    .form-label {
      font-size: 1rem;
      color: #6c757d;
      margin-bottom: 0.5rem;
      display: block;
    }

    .form-input {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ced4da;
      border-radius: 5px;
      background-color: #fff;
      color: #495057;

      &::placeholder {
        color: #adb5bd;
      }

      &:focus {
        border-color: #f8a5c2;
        box-shadow: 0 0 5px rgba(248, 165, 194, 0.5);
      }
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;

    .p-button-text {
      font-weight: bold;
    }

    .p-button-danger {
      color: #dc3545;
      margin-right: 0.5rem;
    }

    .p-button-success {
      color: #28a745;
    }
  }
}
