<div class="card">
  <h2>User Management</h2>

  <p-table [value]="users" responsiveLayout="scroll" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user._id }}</td>
        <td>{{ user.name }} {{ user.paternalLastname }} {{ user.maternalLastname }}</td>
        <td>{{ user.email }}</td>
        <td><span [ngClass]="{'p-tag p-tag-success': user.rol === 'ADMIN', 'p-tag p-tag-info': user.rol !== 'ADMIN'}">{{ user.rol }}</span></td>
        <td>
          <span [ngClass]="{'p-tag p-tag-success': user.status === 'ACTIVE', 'p-tag p-tag-danger': user.status !== 'ACTIVE'}">{{ user.status }}</span>
        </td>
        <td>{{ user.phone }}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="editUser(user)"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteUser(user)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button pButton label="Add User" icon="pi pi-plus" class="p-button-success mt-3" (click)="openNew()"></button>

  <p-dialog header="User Details" [(visible)]="userDialog" [modal]="true" [style]="{width: '400px'}" [closable]="false">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Name</label>
        <input pInputText id="name" [(ngModel)]="user.name" required autofocus />
      </div>
      <div class="p-field">
        <label for="paternalLastname">Paternal Lastname</label>
        <input pInputText id="paternalLastname" [(ngModel)]="user.paternalLastname" required />
      </div>
      <div class="p-field">
        <label for="maternalLastname">Maternal Lastname</label>
        <input pInputText id="maternalLastname" [(ngModel)]="user.maternalLastname" required />
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input pInputText id="email" [(ngModel)]="user.email" required />
      </div>
      <div class="p-field">
        <label for="phone">Phone</label>
        <input pInputText id="phone" [(ngModel)]="user.phone" required />
      </div>
      <div class="p-field">
        <label for="status">Status</label>
        <p-dropdown id="status" [options]="['ACTIVE', 'INACTIVE']" [(ngModel)]="user.status"></p-dropdown>
      </div>
    </div>

    <div class="p-dialog-footer">
      <button pButton label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()" [disabled]="!user.name || !user.email || !user.phone"></button>
    </div>
  </p-dialog>
</div>
