<form class="form-container" [formGroup]="productForm" (ngSubmit)="isEditing ? EDITARProducto() : agregarProducto()" enctype="multipart/form-data"> 
  <p-toast></p-toast>
  <div class="row">
    <div class="form-field">
      <label for="nombre">Nombre:</label>
      <input pInputText type="text" id="nombre" placeholder="Nombre del producto" formControlName="name" required />
      <div *ngIf="
          productForm.get('name')?.invalid && productForm.get('name')?.touched
        " class="error-message">
        Nombre es requerido
      </div>
    </div>
    <div class="form-field">
      <label for="availabilityStatus">Estado de disponibilidad:</label>
      <p-dropdown id="availabilityStatus" formControlName="availabilityStatus" [options]="availabilityOptions"
        optionLabel="label" placeholder="Selecciona un estado" required></p-dropdown>
      <div *ngIf="productForm.get('availabilityStatus')?.invalid && productForm.get('availabilityStatus')?.touched"
        class="error-message">
        Estado de disponibilidad es requerido
      </div>
    </div>


    <div class="form-field">
      <label for="category">Categoría:</label>


      <p-dropdown id="category" formControlName="category" optionLabel="name" [options]="categorys"
        required></p-dropdown>

      <div *ngIf="
          productForm.get('category')?.invalid &&
          productForm.get('category')?.touched
        " class="error-message">
        Categoría es requerida
      </div>
    </div>


  </div>
  <div class="row">
    <div class="form-field">
      <label for="ingredientes">Ingredientes:</label>
      <input pInputText type="text" id="ingredientes" formControlName="ingredientes"
        placeholder="ingredientes del producto" required />
      <div *ngIf="
          productForm.get('ingredientes')?.invalid &&
          productForm.get('ingredientes')?.touched
        " class="error-message">
        Material es requerido
      </div>
    </div>

  </div>
  <!--           
  <div class="col-12 md:col-4 lg:col-3 p-field">
    <label for="ingredientes">Ingredientes</label>
    <input id="ingredientes" type="text" pInputText formControlName="ingredientes" required>
  </div> -->
  <div class="card flex justify-content-center">
    <label for="ingredientes">Descripción del producto:</label>

    <span class="p-float-label">
      <textarea class="textarea" id="float-input" rows="2" style="width: 100%" pInputTextarea
        formControlName="description"></textarea>
    </span>
  </div>

  <p-divider />

  <!-- Variantes -->
  <div formArrayName="variants">
    <div *ngFor="let variant of variants.controls; let i = index" [formGroupName]="i">
  
      <div class="form-container">
        <!-- <div class="form-container"> -->
          <div class="row">
            <!-- Campo para imágenes -->
            <div class="form-field2">
              <label for="images">Imágenes:</label>
              <input
                type="file"
                id="images"
                formControlName="images"
                accept="image/*"
                #fileInput
                multiple
                (change)="onFileSelected($event, i, 'images')"
              />
              <div class="image-preview-container">
                <div class="image-preview" *ngFor="let image of fileNames[i]?.images; let j = index">
                  <img [src]="image.src" alt="Preview" />
                  <button class="remove-button" (click)="removeImage( i, j, 'images',$event)">X</button>
                </div>
              </div>
              <div *ngIf="variant.get('images')?.invalid && variant.get('images')?.touched" class="error-message">
                Imágenes son requeridas
              </div>
            </div>
          </div>
        <!-- </div> -->
        
        
      
        <!-- Contenedor con Grid para los campos -->
        <div class="grid-container">
          <!-- Campo para sabor -->
          <div class="form-field">
            <label for="flavor">Sabor:</label>
            <input pInputText type="text" id="flavor" formControlName="flavor" placeholder="Sabor de la variante" required />
            <div *ngIf="variant.get('flavor')?.invalid && variant.get('flavor')?.touched" class="error-message">
              Sabor es requerido
            </div>
          </div>
      
          <!-- Campo para forma/presentación -->
          <div class="form-field">
            <label for="shape">Forma/ Presentación:</label>
            <input pInputText type="text" id="shape" formControlName="shape" placeholder="Forma o presentación" required />
            <div *ngIf="variant.get('shape')?.invalid && variant.get('shape')?.touched" class="error-message">
              Forma/Presentación es requerido
            </div>
          </div>
      
          <!-- Campo para descripción -->
          <div class="form-field full-width">
            <label for="description">Descripción:</label>
            <textarea pInputText id="description" formControlName="description" placeholder="Descripción de la variante"
              required></textarea>
            <div *ngIf="variant.get('description')?.invalid && variant.get('description')?.touched" class="error-message">
              Descripción es requerida
            </div>
          </div>
      
          <!-- Campo para color -->
          <div class="form-field">
            <label for="color">Color:</label>
            <input pInputText type="text" id="color" formControlName="color" placeholder="Color de la variante" required />
            <div *ngIf="variant.get('color')?.invalid && variant.get('color')?.touched" class="error-message">
              Color es requerido
            </div>
          </div>
      
          <!-- Campo para textura -->
          <div class="form-field">
            <label for="texture">Textura:</label>
            <input pInputText type="text" id="texture" formControlName="texture" placeholder="Textura de la variante"
              required />
            <div *ngIf="variant.get('texture')?.invalid && variant.get('texture')?.touched" class="error-message">
              Textura es requerida
            </div>
          </div>
        </div>
      </div>
      

      <div formArrayName="sizeStock">
        <div *ngIf="getSizeStockArray(variant) as sizeStockArray">
          <div *ngFor="let sizeStock of sizeStockArray.controls; let j = index" [formGroupName]="j">
            <p-divider />
            <div class="row">
              <div class="form-field">
                <label for="size">KG:</label>
                <input pInputText type="number" id="size" formControlName="size" placeholder="Talla" required />
                <div *ngIf="
                    sizeStock.get('size')?.invalid &&
                    sizeStock.get('size')?.touched
                  " class="error-message">
                  Talla es requerida
                </div>
              </div>
              <div class="form-field">
                <label for="stock">Stock:</label>
                <input pInputText type="number" id="stock" formControlName="stock" placeholder="Stock" required
                  min="1" />
                <div *ngIf="
                    sizeStock.get('stock')?.invalid &&
                    sizeStock.get('stock')?.touched
                  " class="error-message">
                  Stock debe ser mayor que 0
                </div>
              </div>

              <div class="form-field">
                <label for="price">Precio:</label>
                <input pInputText type="number" id="price" formControlName="price" placeholder="Precio" required />
                <div *ngIf="
                    sizeStock.get('price')?.invalid &&
                    sizeStock.get('price')?.touched
                  " class="error-message">
                  Precio es requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p-button pRipple severity="info" [text]="true" [raised]="true" icon="pi pi-reply
" (click)="addSizeStock(i)" label="Agregar Talla/Stock"></p-button>
      <p-button [text]="true" [raised]="true" severity="danger" icon="pi pi-delete-left" (click)="removeVariant(i)"
        label="Eliminar Variante"></p-button>

      <p-divider />
    </div>


  </div>
  <p-button [rounded]="true" severity="success" (click)="addVariant()" icon="pi pi-plus
" label="Agregar Variante"></p-button>
  <!-- <button  [rounded]="true" severity="success" (click)="addVariant()">Agregar Variante</button> -->
  <p-divider />
  <div class="btn">
    <button class="btn-finish" pButton type="submit">
      {{ isEditing ? "Guardar cambios" : "Guardar" }}
    </button>
  </div>
</form>