<div class="product-list-container">

  <!-- Mostrar el ProgressBar cuando los productos están cargando -->
  <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{ height: '6px', width: '100%' }"></p-progressBar>
  <button pButton type="button" label="Nuevo Producto" icon="pi pi-plus" (click)="openCreateDialog()"></button>

  <!-- Mostrar los productos cuando la carga ha terminado -->
  <div *ngIf="!loading">

    <!-- Diseño de tabla para pantallas más grandes -->
    <div *ngIf="!isMobile" class="table-container">
      <p-table [value]="products" class="product-table">
        <ng-template pTemplate="header">
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Variantes</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <img *ngIf="product.variants.length > 0" [src]="product.variants[0].images[0]" alt="product image" class="product-image">
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.variants.length }}</td>
            <td>{{ product.variants[0]?.sizeStock[0]?.price }} $</td>
            <td>{{ product.variants[0]?.sizeStock[0]?.stock }}</td>
            <td>
              <button pButton type="button" icon="pi pi-pencil" (click)="editProduct(product)"></button>
              <button pButton type="button" icon="pi pi-trash" (click)="deleteProduct(product.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Diseño de lista para pantallas móviles -->
    <div *ngIf="isMobile" class="list-container">
      <p-panel *ngFor="let product of products" header="{{ product.name }}" class="product-panel">
        <div class="p-grid">
          <div class="p-col-12">
            <img *ngIf="product.variants.length > 0" [src]="product.variants[0].images[0]" alt="product image" class="product-image-mobile">
          </div>
          <div class="p-col-12">
            <p><strong>Variantes:</strong> {{ product.variants.length }}</p>
            <p><strong>Precio:</strong> {{ product.variants[0]?.sizeStock[0]?.price }} $</p>
            <p><strong>Stock:</strong> {{ product.variants[0]?.sizeStock[0]?.stock }}</p>
            <div class="action-buttons">
              <p-button  type="button" icon="pi pi-pencil" (click)="editProduct(product)" [rounded]="true" [text]="true" [raised]="true" severity="help"/>
              <p-button  type="button" icon="pi pi-trash" (click)="deleteProduct(product.id)" [rounded]="true" [text]="true" [raised]="true" severity="danger"/>
            </div>
          </div>
        </div>
      </p-panel>
    </div>




    <!-- :::::::::MODALES -->
    <!-- :::::::::MODALES -->
    <!-- :::::::::MODALES -->
    <!-- :::::::::MODALES -->


    <p-dialog [(visible)]="displayEditDialog" header="Editar Producto" [modal]="true" [responsive]="true" [style]="{width: '60vw'}">
      <form [formGroup]="editForm" (ngSubmit)="saveProduct()">
    
        <!-- Información General -->
        <div class="p-fluid grid">
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="name">Nombre</label>
            <input id="name" type="text" pInputText formControlName="name" required>
          </div>
        
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="category">Categoría</label>
            <p-dropdown id="category" formControlName="category" optionLabel="name" [options]="categorys" required></p-dropdown>
          </div>
        
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="ingredientes">Ingredientes</label>
            <input id="ingredientes" type="text" pInputText formControlName="ingredientes" required>
          </div>
        
          <div class="col-12 p-field">
            <label for="description">Descripción</label>
            <textarea id="description" pInputTextarea formControlName="description" rows="3"></textarea>
          </div>
        
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="availabilityStatus">Estado de Disponibilidad</label>
            <p-dropdown id="availabilityStatus" formControlName="availabilityStatus" [options]="availabilityOptions" optionLabel="name"></p-dropdown>
          </div>
        </div>
        
        <p-divider></p-divider>

        
        <!-- Sección de Variantes -->
        <div class="p-fieldset">
          <legend>Variantes</legend>
          <button pButton type="button" label="Añadir Variante" icon="pi pi-plus" (click)="addVariant()" class="p-button-sm p-button-outlined"></button>
    
          <!-- <div *ngFor="let variant of variants.controls; let i = index" class="p-mt-2"> -->
          
            <!-- <div *ngFor="let variant of getVariants().controls; let i = index" class="p-mt-2"> -->
              <!-- <div *ngFor="let variant of getVariants().controls; let i = index" [formGroup]="variant" class="p-mt-2"> -->
               

                <div  *ngFor="let variant of getVariants().controls; let i = index" [formGroup]="variant as FormGroup">

            <div class="p-card p-p-2">
              <div class="p-grid">
                <!-- <div class="col-12 md:col-3 p-field">
                  <label>Sabor</label>
                  <input type="text" pInputText formControlName="flavor" required>
                </div> -->
                <!-- <div class="col-12 md:col-3 p-field">
                  <label>Color</label>
                  <input type="text" pInputText formControlName="color" required>
                </div> -->
                <div class="col-12 md:col-3 p-field">
                  <label>Textura</label>
                  <input type="text" pInputText formControlName="texture" required>
                </div>
                <div class="col-12 md:col-3 p-field">
                  <label>Forma</label>
                  <input type="text" pInputText formControlName="shape" required>
                </div>
              </div>
              <button pButton type="button" label="Eliminar Variante" class="p-button-danger p-button-sm" (click)="removeVariant(i)"></button>
    
              <!-- Sección de Tamaños -->
              <div class="p-fieldset p-mt-3">
                <legend>Tamaños</legend>
                <button pButton type="button" label="Añadir Tamaño" icon="pi pi-plus" (click)="addSizeStock(i)" class="p-button-sm p-button-outlined"></button>
    
                <div *ngFor="let sizeStock of getSizeStockControls(i).controls; let j = index">
                  <div class="p-grid">
                    <div class="col-12 md:col-3 p-field">
                      <label>Tamaño</label>
                      <input type="number" pInputText formControlName="size" required>
                    </div>
                    <div class="col-12 md:col-3 p-field">
                      <label>Stock</label>
                      <input type="number" pInputText formControlName="stock" required>
                    </div>
                    <div class="col-12 md:col-3 p-field">
                      <label>Precio</label>
                      <input type="number" pInputText formControlName="price" required>
                    </div>
                    <div class="col-12 md:col-3 p-field p-text-right">
                      <button pButton type="button" label="Eliminar" class="p-button-danger p-button-sm" (click)="removeSizeStock(i, j)"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
    
        <p-divider></p-divider>
    
        <!-- Botones de Acción -->
        <div class="p-dialog-footer">
          <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text p-button-secondary" (click)="displayEditDialog = false"></button>
          <button pButton type="submit" label="Actualizar" icon="pi pi-check" class="p-button-primary" [disabled]="editForm.invalid"></button>
        </div>
    
      </form>
    </p-dialog>
    
    











    <p-dialog [(visible)]="displayCreateDialog" header="Crear Producto" [modal]="true" [responsive]="true" [style]="{width: '60vw'}">
      <form [formGroup]="createForm" (ngSubmit)="createProduct()">
    
        <!-- Información General -->
        <div class="p-fluid grid">
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="name">Nombre</label>
            <input id="name" type="text" pInputText formControlName="name" required>
          </div>
        
        
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="category">Categoría</label>
            <p-dropdown id="category" formControlName="category" optionLabel="name" [options]="categorys" required></p-dropdown>
          </div>
        
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="ingredientes">Ingredientes</label>
            <input id="ingredientes" type="text" pInputText formControlName="ingredientes" required>
          </div>
        
          <div class="col-12 p-field">
            <label for="description">Descripción</label>
            <textarea id="description" pInputTextarea formControlName="description" rows="3"></textarea>
          </div>
        
          <div class="col-12 md:col-4 lg:col-3 p-field">
            <label for="availabilityStatus">Estado de Disponibilidad</label>
            <p-dropdown id="availabilityStatus" formControlName="availabilityStatus" [options]="availabilityOptions" optionLabel="name"></p-dropdown>
          </div>
        </div>
        
    
        <p-divider></p-divider>
    
        <!-- Sección de Variantes -->
        <div class="p-fieldset">
          <legend>Variantes</legend>
          <button pButton type="button" label="Añadir Variante" icon="pi pi-plus" (click)="addVariant()" class="p-button-sm p-button-outlined"></button>
    
          <div *ngFor="let variant of variants.controls; let i = index" class="p-mt-2">
            <div class="p-card p-p-2">
              <div class="p-grid">

                <div class="col-12 md:col-3 p-field">
                  <label>Sabor</label>
                  <input type="text" pInputText formControlName="flavor" required>
                </div>
                <div class="col-12 md:col-3 p-field">
                  <label>Color</label>
                  <input type="text" pInputText formControlName="color" required>
                </div>
                <div class="col-12 md:col-3 p-field">
                  <label>Textura</label>
                  <input type="text" pInputText formControlName="texture" required>
                </div>
                <div class="col-12 md:col-3 p-field">
                  <label>Forma</label>
                  <input type="text" pInputText formControlName="shape" required>
                </div>
              </div>
              <button pButton type="button" label="Eliminar Variante" class="p-button-danger p-button-sm" (click)="removeVariant(i)"></button>
    
              <!-- Sección de Tamaños -->
              <div class="p-fieldset p-mt-3">
                <legend>Tamaños</legend>
                <button pButton type="button" label="Añadir Tamaño" icon="pi pi-plus" (click)="addSizeStock(i)" class="p-button-sm p-button-outlined"></button>
    
                <div *ngFor="let sizeStock of getSizeStockControls(i).controls; let j = index">
                  <div class="p-grid">
                    <div class="col-12 md:col-3 p-field">
                      <label>Tamaño</label>
                      <input type="number" pInputText formControlName="size" required>
                    </div>
                    <div class="col-12 md:col-3 p-field">
                      <label>Stock</label>
                      <input type="number" pInputText formControlName="stock" required>
                    </div>
                    <div class="col-12 md:col-3 p-field">
                      <label>Precio</label>
                      <input type="number" pInputText formControlName="price" required>
                    </div>
                    <div class="col-12 md:col-3 p-field p-text-right">
                      <button pButton type="button" label="Eliminar" class="p-button-danger p-button-sm" (click)="removeSizeStock(i, j)"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <p-divider></p-divider>
    
        <!-- Botones de Acción -->
        <div class="p-dialog-footer">
          <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text p-button-secondary" (click)="displayCreateDialog = false"></button>
          <button pButton type="submit" label="Crear" icon="pi pi-check" class="p-button-primary" [disabled]="createForm.invalid"></button>
        </div>
    
      </form>
    </p-dialog>
    
    
    






  
    <p-toast></p-toast>
  </div>
</div>
