<div class="product-list-container">

  <!-- Mostrar el ProgressBar cuando los productos están cargando -->
  <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{ height: '6px', width: '100%' }"></p-progressBar>
  <button pButton type="button" label="Nuevo Producto" icon="pi pi-plus" (click)="openCreateDialog()"></button>

  <!-- Mostrar los productos cuando la carga ha terminado -->
  <div *ngIf="!loading">

    <!-- Diseño de tabla para pantallas más grandes -->
    <div *ngIf="!isMobile" class="table-container">
      <p-table [value]="products" class="product-table">
        <ng-template pTemplate="header">
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Variantes</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <img *ngIf="product.variants.length > 0" [src]="product.variants[0].images[0]" alt="product image" class="product-image">
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.variants.length }}</td>
            <td>{{ product.variants[0]?.sizeStock[0]?.price }} $</td>
            <td>{{ product.variants[0]?.sizeStock[0]?.stock }}</td>
            <td>
              <button pButton type="button" icon="pi pi-pencil" (click)="editProduct(product)"></button>
              <button pButton type="button" icon="pi pi-trash" (click)="deleteProduct(product.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Diseño de lista para pantallas móviles -->
    <div *ngIf="isMobile" class="list-container">
      <p-panel *ngFor="let product of products" header="{{ product.name }}" class="product-panel">
        <div class="p-grid">
          <div class="p-col-12">
            <img *ngIf="product.variants.length > 0" [src]="product.variants[0].images[0]" alt="product image" class="product-image-mobile">
          </div>
          <div class="p-col-12">
            <p><strong>Variantes:</strong> {{ product.variants.length }}</p>
            <p><strong>Precio:</strong> {{ product.variants[0]?.sizeStock[0]?.price }} $</p>
            <p><strong>Stock:</strong> {{ product.variants[0]?.sizeStock[0]?.stock }}</p>
            <div class="action-buttons">
              <p-button  type="button" icon="pi pi-pencil" (click)="editProduct(product)" [rounded]="true" [text]="true" [raised]="true" severity="help"/>
              <p-button  type="button" icon="pi pi-trash" (click)="deleteProduct(product.id)" [rounded]="true" [text]="true" [raised]="true" severity="danger"/>
            </div>
          </div>
        </div>
      </p-panel>
    </div>




    <!-- :::::::::MODALES -->
    <!-- :::::::::MODALES -->
    <!-- :::::::::MODALES -->
    <!-- :::::::::MODALES -->



    <p-dialog [(visible)]="displayEditDialog" [modal]="true" [header]="'Editar Producto'" [style]="{width: '50vw'}">
      <form [formGroup]="editForm">
        <div class="p-fluid">
          <div class="p-field">
            <label for="name">Nombre</label>
            <input id="name" pInputText formControlName="name">
          </div>
          
          <div class="p-field">
            <label for="price">Precio</label>
            <input id="price" pInputText type="number" formControlName="price">
          </div>
    
          <div class="p-field">
            <label for="stock">Stock</label>
            <input id="stock" pInputText type="number" formControlName="stock">
          </div>
    
          <div class="p-field">
            <label for="image">Imagen</label>
            <input id="image" pInputText formControlName="image">
          </div>
        </div>
      </form>
    
      <ng-template pTemplate="footer">
        <button pButton label="Cancelar" icon="pi pi-times" (click)="closeDialog()" class="p-button-text"></button>
        <button pButton label="Guardar" icon="pi pi-check" (click)="saveProduct()" [disabled]="editForm.invalid"></button>
      </ng-template>
    </p-dialog>
    





    <p-dialog [(visible)]="displayCreateDialog" header="Crear Producto" [modal]="true" [responsive]="true" [style]="{width: '60vw'}">
      <form [formGroup]="createForm" (ngSubmit)="createProduct()">
        <div class="p-fluid grid">
          <div class="col-12 md:col-6">
            <label>Nombre</label>
            <input type="text" pInputText formControlName="name">
          </div>
          <div class="col-12 md:col-6">
            <label>Marca</label>
            <input type="text" pInputText formControlName="brand">
          </div>
          <div class="col-12 md:col-6">
            <label>Categoría</label>
            <input type="text" pInputText formControlName="category">
          </div>
          <div class="col-12 md:col-6">
            <label>Material</label>
            <input type="text" pInputText formControlName="material">
          </div>
          <div class="col-12">
            <label>Descripción</label>
            <textarea pInputTextarea formControlName="description"></textarea>
          </div>
        </div>
    
        <!-- Sección de Variantes -->
        <div class="p-fieldset" legend="Variantes">
          <button pButton type="button" label="Añadir Variante" icon="pi pi-plus" (click)="addVariant()"></button>
    
          <div *ngFor="let variant of variants.controls; let i = index">
            <div class="p-fieldset">
              <legend>Variante {{ i + 1 }}</legend>
              <div class="grid">
                <div class="col-12 md:col-3">
                  <label>Sabor</label>
                  <input type="text" pInputText formControlName="flavor">
                </div>
                <div class="col-12 md:col-3">
                  <label>Color</label>
                  <input type="text" pInputText formControlName="color">
                </div>
                <div class="col-12 md:col-3">
                  <label>Textura</label>
                  <input type="text" pInputText formControlName="texture">
                </div>
                <div class="col-12 md:col-3">
                  <label>Forma</label>
                  <input type="text" pInputText formControlName="shape">
                </div>
              </div>
              <button pButton type="button" label="Eliminar Variante" class="p-button-danger" (click)="removeVariant(i)"></button>
    
              <!-- Sección de Tamaños -->
              <div class="p-fieldset" legend="Tamaños">
                <button pButton type="button" label="Añadir Tamaño" icon="pi pi-plus" (click)="addSizeStock(i)"></button>
    
                <div *ngFor="let sizeStock of getSizeStockControls(i).controls; let j = index">
                  <div class="grid">
                    <div class="col-12 md:col-3">
                      <label>Tamaño</label>
                      <input type="number" pInputText formControlName="size">
                    </div>
                    <div class="col-12 md:col-3">
                      <label>Stock</label>
                      <input type="number" pInputText formControlName="stock">
                    </div>
                    <div class="col-12 md:col-3">
                      <label>Precio</label>
                      <input type="number" pInputText formControlName="price">
                    </div>
                    <div class="col-12 md:col-3">
                      <button pButton type="button" label="Eliminar" class="p-button-danger" (click)="removeSizeStock(i, j)"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="p-dialog-footer">
          <button pButton type="button" label="Cancelar" icon="pi pi-times" (click)="displayCreateDialog = false"></button>
          <button pButton type="submit" label="Crear" icon="pi pi-check" [disabled]="createForm.invalid"></button>
        </div>
      </form>
    </p-dialog>
    






  
    <p-toast></p-toast>
  </div>
</div>
