  <section class="relative bg-gray-100">
    <div class="container mx-auto px-4 py-20 md:py-32 flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 mb-10 md:mb-0">
        <h1 class="text-4xl md:text-5xl font-light text-[#3E2723] mb-6">Repostería Artesanal</h1>
        <p class="text-lg text-gray-700 mb-8 max-w-lg">Delicias horneadas con ingredientes premium y dedicación tradicional. Cada producto es una obra de arte comestible.</p>
        <a routerLink="/productos" class="bg-[#3E2723] text-white px-8 py-3 inline-block hover:bg-[#2E1B17] transition duration-300">Ver Productos</a>
      </div>
      <div class="md:w-1/2">
        <img src="https://res.cloudinary.com/dfpdb2cdl/image/upload/v1741150217/productos/zp2jzaewfrrx5jwsw1me.jpg" 
             alt="Pastel Tres Leches" 
             class="rounded-lg shadow-lg w-full max-w-md mx-auto">
      </div>
    </div>
  </section>

