<!-- product-form.component.html -->
<div class="form-container">
  <!-- <h2>{{ isEditMode ? 'Editar Producto' : 'Crear Producto' }}</h2>
  <form (ngSubmit)="submitForm()" #productForm="ngForm">
    <div class="p-field">
      <label for="name">Nombre</label>
      <input id="name" type="text" pInputText [(ngModel)]="product.name" name="name" required>
    </div>

    <div class="p-field">
      <label for="description">Descripción</label>
      <textarea id="description" pInputTextarea [(ngModel)]="product.description" name="description" required></textarea>
    </div>

    <div class="p-field">
      <label for="price">Precio</label>
      <input id="price" type="number" pInputText [(ngModel)]="product.variants[0].sizeStock[0].price" name="price" required>
    </div>

    <div class="p-field">
      <label for="stock">Stock</label>
      <input id="stock" type="number" pInputText [(ngModel)]="product.variants[0].sizeStock[0].stock" name="stock" required>
    </div>

    <button pButton type="submit" label="{{ isEditMode ? 'Actualizar' : 'Guardar' }}"></button>
  </form>
</div> -->
