<div class="about-container">
  <h1>Bienvenido a Pastelería Tony</h1>
  <p data-aos="zoom-out-down">Ubicados en el corazón de Jaltocan, Hidalgo, en Pastelería Tony nos dedicamos a ofrecerte los más deliciosos y frescos productos de repostería. Desde nuestros pasteles y panes recién horneados hasta nuestros deliciosos postres, cada bocado está hecho con amor y dedicación.</p>

  <h2>Nuestra Historia</h2>
  <p data-aos="zoom-out-down">Fundada en 2005, Pastelería Tony ha sido un pilar en la comunidad de Jaltocan, ofreciendo productos de alta calidad a nuestros queridos clientes. Nuestro compromiso es con la excelencia y la satisfacción de nuestros clientes.</p>

  <h2>¿Qué Ofrecemos?</h2>
  <ul>
    <li data-aos="zoom-out-down">Pasteles personalizados para cualquier ocasión</li>
    <li>Panes frescos y recién horneados</li>
    <li>Postres y dulces tradicionales</li>
    <li>Servicios de catering para eventos especiales</li>
  </ul>

  <h2>Visítanos</h2>
  <p>Estamos ubicados en el centro de Jaltocan, Hidalgo. Ven y disfruta de una experiencia dulce y acogedora.</p>
</div>
