<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="https://res.cloudinary.com/dqvwzivqe/image/upload/v1724740794/crntjuzir4u6pjgjzv0x.png" alt="Logo de la Repostería" />
    </div>
    <div class="footer-links">
      <a href="#"><i class="pi pi-home"></i><span>Inicio</span></a>
      <a href="#"><i class="pi pi-shopping-bag"></i><span>Productos</span></a>
      <a href="#"><i class="pi pi-info-circle"></i><span>Nosotros</span></a>
      <a href="#"><i class="pi pi-envelope"></i><span>Contacto</span></a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="pi pi-facebook"></i></a>
      <a href="#"><i class="pi pi-instagram"></i></a>
      <a href="#"><i class="pi pi-twitter"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Repostería Dulce Sabor. Todos los derechos reservados.=0</p>
  </div>
</footer>
