/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo {
  font-family: 'Bethany', cursive;
}
@font-face {
  font-family: 'Bethany';
  src: url('./assets/fonts/BethanyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
